.animate-content {
  position: absolute;
  width: 90vw;
  left: 5vw;
  color: rgb(217, 217, 217);
  font-size: 2em;
  font-weight: 700;
  padding: 2vh 0;
  text-align: center;

  animation-name: content;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}
@keyframes content {
  0% {
    background: rgba(35, 37, 39, 0);
    top: 79vh;
    transform: translateY(-100%);
    opacity: 0;
    z-index: -1;
  }
  25% {
    background: linear-gradient(
      to bottom,
      rgba(35, 37, 39, 0.25),
      rgba(35, 37, 39, 0)
    );
    opacity: 0.25;
    z-index: -1;
  }
  50% {
    background: linear-gradient(
      to bottom,
      rgba(35, 37, 39, 0.5),
      rgba(35, 37, 39, 0.25)
    );
    opacity: 0.5;
  }
  75% {
    background: linear-gradient(
      to bottom,
      rgba(35, 37, 39, 0.5),
      rgba(35, 37, 39, 0.5)
    );
    opacity: 0.75;
  }
  100% {
    background: linear-gradient(
      to bottom,
      rgba(35, 37, 39, 0.5),
      rgba(35, 37, 39, 0.5)
    );
    top: 59vh;
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
  }
}
